
.card-image img{
    width: 10%;

  }

.card-image  {
  
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-left: 40%;
    
    
}

.post{
    border-top: 3px solid blue;
   
    margin-left: 5%;
}
.card-wrapper{
    margin-left: 37%;

}

  

  
  
  